.geral{
    width: 960px;
    border:2px dashed #000;
    border-radius: 18px;
    margin: auto;
    padding: 10px;
    margin-bottom: 10px;    
}

img{
    width: 200px;
}

figure, section{
    display: inline-block;
    vertical-align: middle;

}

section{
    width: 500px;
    padding: 30px;
}